@import "tailwindcss";
@import "tw-animate-css";

:root {
  --color: white;
  --bg: #1c1c22;
}

body{
  background-color: var(--bg);
  color: var(--color);
  font-family: var(--font-jetbrains-mono), monospace;
}

/* Utility */
.accent{
  color: #00ff99
}
.accentHover:hover{
  color: #00e187
}
.hovertext{
  color: #1c1c22
}

@layer utilities {
  /* Base text outline */
  .text-outline {
    -webkit-text-stroke: 1px white;
  }
  
  /* Group hover variant */
  .group:hover .group-hover\:text-outline-accent {
    -webkit-text-stroke: 1px #00ff99;
  }
}


